@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="color:aliceblue;">Access - Denied</h1>


<div class="alert alert-dismissible alert-secondary">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Incorrect Credentials!</strong> May UserId or Password should be wrong !!!<br> <a asp-controller="Login" asp-action="Index" class="alert-link">Try Again</a>.
</div>