@{
    ViewData["Title"] = "Home Page";
    
}


    <br>
    <img src="~/images/homePage.png" style="shape-outside:circle()" width="100%"/>

    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">
                Air India’s journey took off in 1932, when Bharat Ratna J.R.D Tata formed an Airline, realising his dream. The first Indian to receive a commercial pilot’s license, it was his passion for flying that had sparked Air India’s origins - with the launch of an Airmail service from the then Bombay to Karachi via Ahmedabad. Nationalized in 1953, Air India has been spreading its wings over the years to become a leading domestic and global brand.
                <br>
                Air India’s international connectivity, spanning cities in Europe, USA, UK, Africa, the Gulf, Asia and Australia, was strengthened after joining Star Alliance – the largest global air consortium – in July, 2014. The airline also covers every remote corner of our country. It has always stood by the Nation and its people during the hour of need and has played a key role in evacuation missions during crises like the Gulf War, the Covid pandemic and the recent Ukraine conflict.
                <br>
                On 27th January, 2022, Air India has been welcomed back to the Tata Group and is poised to soar high - redefining its goals & approach with focus on overall excellence & customer-centric processes. "The Tata group welcomes Air India's new customers and is excited to work together to make Air India the airline of choice in terms of passenger comfort and service.", remarked Mr. Ratan Tata, Chairman Emeritus, Tata Sons on the occasion.
            </p>
        </blockquote>

        <figcaption class="blockquote-footer">
            Mr.Ratan Tata Sir
        </figcaption>
    </figure>
